/*css for cart.html*/
.your-cart-intro {
    font-weight: bold;
}

.product-checkout th{
    text-align: center;
}

.buymore-button, .checkout-button {
    text-align: center;
}

/*css for profile.html*/
.menu-bar {
    padding-left: 10px;
    margin-top: 20px;
}

.panel-info, .panel-order-list {
    margin-top: 20px;
}

.member-info {
    font-weight: bold;
    text-align: center;
    font-size: 18pt;
}

#modal-edit-info {
    z-index: 10000;
}

.img-select-block {
    position: relative;
}

#input-select-img-avatar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.modal-content {
    padding-left: 7px;
}

.form-block {
    margin-top: 15px;
}

.btn-feedback {
    margin-top: 20px;
}

/* css for index.html */
body{
    background: #f4f4f4;
}
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: white;
    border-color: white;
    border-bottom: 1px solid #e8e8e8;
}

.nav li {
    border-right: 1px solid #e8e8e8;
}

.nav li:last-child {
    border-right: none;
}
#myNavbar ul>li>a:hover{
    color: #337ab7;
}

.column-container {
    padding-top: 33px;
    padding-bottom: 40px;
}
.btn-info{
    background-color: #1e73be;
    border-color: #1e73be;
}
.btn-info:hover{
    background-color:  #337ab7;
}
.hotline a{
    text-decoration: none;
}
.hotline{
    font-size: 15px;

    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #1e73be;
    padding: 10px;
}
.hotline:hover {
    text-decoration: none;

}
.hotline-span{
    padding: 10px;

}
.hotline-span strong{
    color: #ff0000;
}
.hotline-span strong:hover{
    text-decoration: none;
}
body {margin:0;font-family:Arial}

.topnav {
    overflow: hidden;
    background-color: #1e73be;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #1e73be;
    color: black;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.topnav .icon {
    display: none;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown1:hover .dropbtn {
    background-color: #1e73be;
    color: black;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown1 .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown1 {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown1 .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    color: #1e73be;
}

.list-none li{
    padding-right: 20px;
    float: right;
    text-decoration: none;
}
.content-wrap{
    background: white;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.list-none{
    padding-top: 15px;
}
.list-big ul{
    list-style-type: none;
}
.list-none a:hover{
    color: #337ab7;
}
.list-none a{
    white-space: pre-wrap;
    color: #104fea;
    text-decoration: none;
}
.menu-big{
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #333;
}
.banner-box a{
    display: block;
}
.banner-box img{
    max-width: 740px;
}
.big-banner{
    display: inline-block;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    padding: 8px;
}
.title18{
    padding-top: 15px;
    font-weight: 700;
    margin: 0;
    font-size: 18px;
    text-transform: uppercase;
}
.product-title a{
    color: #22649e;
    text-decoration: none;
    color: #22649e;
    font-weight: 700;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.5s ease-out 0s;
}
.product-title{
    white-space: normal;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    text-transform: uppercase;
}
.product-price del{
    color: #999;
}
.big-box{
    display: inline-block;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.box-left{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
}
.box-right{
    padding-left: 0px;
}
.box-right-right{
    padding-left: 10px;
}
.sale-off5{
    left:80%;
    position: absolute;
    top: 44px;
    background: #370ed4 none repeat scroll 0 0;
    color: #fff;
    font-size: 14px;
    padding: 3px 8px;
}
.after-sale {
    color: #1e73be;
    font-size: 18px;
    text-decoration: none;
}
.product-rate{
    /*background-image: url(/wp-content/themes/kuteshop/assets/css/images/theme/rating-stars.png);*/
    background-position: 0 -100px;
    background-repeat: repeat-x;
    height: 14px;
    margin-top: 5px;
    width: 70px;
    -webkit-transition: all 0.5s ease-out 0s
}
.product-rating{
    height: 14px;
    background-repeat: repeat-x;
    /*background-image: url(/wp-content/themes/kuteshop/assets/css/images/theme/rating-stars.png);*/
    background-position: 0 0;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.product-extra-link{
    margin-top: 18px;
}
.product-extra-link a{
    border: 1px solid #e5e5e5;
    color: #ccc;
    text-decoration: none;
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    vertical-align: top;
    position: relative;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    border-radius: 4px;

}

.product-extra-link a:hover{
    background: #337ab7;
    color: white;
}
.box-right{
    padding-right: 0px;
}
.sanpham1{
    border-right: 1px solid #e5e5e5;
}
.sanpham{

    max-width: 377px;
    padding-top: 14px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 29px;
    border-bottom: 1px solid #e5e5e5;
    display: inline-block;
}
.product-price ins{
    font-size: 18px;
    font-weight: 700;
}

/*css for login.html*/
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}

