.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #f4f4f4;
    border-color: white;
    border-bottom: 1px solid #e8e8e8;
}

.nav li {
    border-right: 1px solid #e8e8e8;
}

.nav li:last-child {
    border-right: none;
}
#myNavbar ul>li>a:hover{
    color: #337ab7;
}

.column-container {
    padding-top: 33px;
    padding-bottom: 40px;
}
.btn-info{
    background-color: #1e73be;
    border-color: #1e73be;
}
.btn-info:hover{
    background-color:  #337ab7;
}
.hotline a{
    text-decoration: none;
}
.hotline{
    font-size: 15px;

    box-sizing: border-box;
    border-radius: 25px;
    border: 2px solid #1e73be;
    padding: 10px;
}
.hotline:hover {
    text-decoration: none;

}
.hotline-span{
    padding: 10px;

}
.hotline-span strong{
    color: #ff0000;
}
.hotline-span strong:hover{
    text-decoration: none;
}
body {margin:0;font-family:Arial}

.topnav {
    overflow: hidden;
    background-color: #1e73be;

}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #1e73be;
    color: black;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.topnav .icon {
    display: none;
}

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown1 .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn a {
    font-size: 10pt;
    padding: 10px 0px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

.dropdown-content a {
    float: none;
    color: #3969b5;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 10pt;
    border-bottom: 1px solid #b8c4d8;
}

.topnav a:hover, .dropdown1:hover .dropbtn {
    background-color: #1e73be;
    color: black;
}

.dropdown-content a:hover {
    background-color: #c9d5e8;
    color: black;
}

.dropdown1:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown1 .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .dropdown1 {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown1 .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
    color: #1e73be;
}



/* css of footer */
#footer{
    margin-top: 20px;
    color: white;
    background: #083449;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.h2-both{
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
}
.h2-both::before{
    background: rgba(255,255,255,.5) none repeat scroll 0 0;
    bottom: -10px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;

}
#footer h2{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;

}
.footer-big-buttom-left-social{
    margin-top: 30px;
}
.footer-big-buttom-left-social a:hover{
    background-color: white;
    color: #337ab7;
}
.footer-big-buttom-left-social a{
    border-color: rgba(255,255,255,.3);
    color: #fff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    width: 40px;

    border: 1px solid #e5e5e5;
    border-radius: 50%;

    display: inline-block;
    margin: 0 2px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out 0s;

}
.footer-big-buttom{
    padding-bottom: 40px;
}
.footer-big-top a{
    text-decoration: none;
}
.footer-big-top{
    background-color: #072e42;
    padding-top: 20px;
    padding-bottom: 10px;
}
.footer-big-buttom-left-list p{
    margin-bottom: 10px;
}
.center-list li{
    margin-bottom: 10px;
}
.center-list a{
    text-decoration: none;
    color: white;
}
.footer-big-buttom-left-list{
    margin-top: 40px;
}
.footer-big-buttom-center-list{
    margin-top: 40px;
}
.fotter-right-img{
    margin-top: 40px;
}
.fotter-right-img{
    text-align: center;
}
.fotter-right-em{
    text-align: center;
}

